HumanCareManagementSystem/Service References/BillServiceReference/BillService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISS" elementFormDefault="qualified" targetNamespace="http://ISS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BillType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="dateOfBill" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="treatmentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillType" nillable="true" type="tns:BillType" />
</xs:schema>