HumanCareManagementSystem/Service References/BillServiceReference/BillService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/BillService?xsd=xsd2" namespace="http://ISS" />
  <xs:import schemaLocation="http://localhost:8888/BillService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BillingService" />
  <xs:element name="addBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://ISS" minOccurs="0" name="bt" nillable="true" type="q1:BillType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://ISS" minOccurs="0" name="getBillResult" nillable="true" type="q2:BillType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBills">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BillingService" minOccurs="0" name="getBillsResult" nillable="true" type="q3:BillCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>