HumanCareManagementSystem/Service References/BillServiceReference/BillService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8888/BillService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8888/BillService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/BillService?xsd=xsd2" namespace="http://ISS" />
      <xsd:import schemaLocation="http://localhost:8888/BillService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BillingService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBillService_addBill_InputMessage">
    <wsdl:part name="parameters" element="tns:addBill" />
  </wsdl:message>
  <wsdl:message name="IBillService_addBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:addBillResponse" />
  </wsdl:message>
  <wsdl:message name="IBillService_getBill_InputMessage">
    <wsdl:part name="parameters" element="tns:getBill" />
  </wsdl:message>
  <wsdl:message name="IBillService_getBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBillResponse" />
  </wsdl:message>
  <wsdl:message name="IBillService_getBills_InputMessage">
    <wsdl:part name="parameters" element="tns:getBills" />
  </wsdl:message>
  <wsdl:message name="IBillService_getBills_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBillsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBillService">
    <wsdl:operation name="addBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillService/addBill" message="tns:IBillService_addBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillService/addBillResponse" message="tns:IBillService_addBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillService/getBill" message="tns:IBillService_getBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillService/getBillResponse" message="tns:IBillService_getBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBills">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillService/getBills" message="tns:IBillService_getBills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillService/getBillsResponse" message="tns:IBillService_getBills_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBillService" type="tns:IBillService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addBill">
      <soap:operation soapAction="http://tempuri.org/IBillService/addBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBill">
      <soap:operation soapAction="http://tempuri.org/IBillService/getBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBills">
      <soap:operation soapAction="http://tempuri.org/IBillService/getBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillService">
    <wsdl:port name="BasicHttpBinding_IBillService" binding="tns:BasicHttpBinding_IBillService">
      <soap:address location="http://localhost:8888/BillService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>